{% include 'head.html' %}
    <body>
        <!-- Navigation-->
        <nav class="navbar navbar-expand-lg navbar-light" id="mainNav">
            <div class="container px-4 px-lg-5">
                {% if current_user.is_authenticated %}
                <a class="navbar-brand" href="index.html">Blog deDev - {{user}}</a>
                {% else %}
                <a class="navbar-brand" href="index.html">Blog deDev</a>
                {% endif %}
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                    Menu
                    <i class="fas fa-bars"></i>
                </button>
                <div class="collapse navbar-collapse" id="navbarResponsive">
                  <ul class="navbar-nav ms-auto py-4 py-lg-0">
                        <li class="nav-item"><a class="nav-link px-lg-3 py-3 py-lg-4" href="{{url_for('home')}}">Home</a></li>
                        <li class="nav-item"><a class="nav-link px-lg-3 py-3 py-lg-4" href="{{url_for('contato')}}">Contato</a></li>
                       <!--                        Bloco jinja login logout-->
                        {% if current_user.is_authenticated %}
                            <li class="nav-item"><a class="nav-link px-lg-3 py-3 py-lg-4" href="{{url_for('logout')}}">Logout</a></li>
                        {% else %}

                            <li class="nav-item"><a class="nav-link px-lg-3 py-3 py-lg-4" href="{{url_for('login')}}">Login</a></li>

                        {% endif %}
                    </ul>
                </div>
            </div>
        </nav>
        <!-- Page Header-->
        <header class="masthead" style="background-image: url({{ url_for('static',filename='/img/about-bg.jpg')}}">
            <div class="container position-relative px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <div class="page-heading">
                            <h1>About Me</h1>
                            <span class="subheading">Sou o Sidnei.</span>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- Main Content-->
        <main class="mb-4">
            <div class="container px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <h1>Login</h1>
                        <p>Atualmente busco combinar conhecimentod de Boootcamps , pequenos projetos
                            pessoais e faculdade para uma colocação no mercado de trabalho na area de
                            tecnologia.</p>
                        <p>Desenvolvi este Blog afim de amontuar, divulgar noticias de tecnologia que
                            acho relevantes e assim  também demonstrar um pouco de minhas habilidades.</p>
                        <p> O blog é feito em python com um pouco de javascript no front.
                        Utilizando o framework Flask e  o orm Sqlalchem, renderizo as paginas Htmls
                        em suas devidas rotas , e  manipulando  os usuarios e seus posts no banco de dados.</p>
                    </div>
                </div>
            </div>
        </main>
        <!-- Footer-->

          {% include 'footer.html' %}
        <!-- Bootstrap core JS-->

    </body>
</html>
